
.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.tag-width-32 {
    width: 32px;
    height: 32px;
}

.tag-width-44 {
    width: 44px;
    height: 44px;
}
.tag-width-16 {
    width: 16px;
    height: 16px;
}
.tag-width-8 {
    width: 8px;
    height: 8px;
}
.tag-width-24 {
    width: 24px;
    height: 24px;
}

.tag-width-22 {
    height: 22px;
    width: 22px;
}

.tag-width-56 {
    height: 56px;
    width: 56px;
}

body ul {
    padding: 0;
    margin: 0;
}
.float-right {
    float: right;
}
.text-align-left {
    text-align: left;
}
